@import 'components/variables',
        'components/grid',
        'components/type',
        'components/animations',
        'components/header',
        'components/article';

body {
  margin: 100vh 0 0 0;
  position: relative;
}
* { box-sizing: border-box; }
