@keyframes reveal {
    0% {
        transform: translate(0,110%);
    }
    100% {
        transform: translate(0,0);
    }
}


@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes revealer-text {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}

	50% {
		transform: scaleX(1);
	}

	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dash {
  100% {
    opacity: 1;
    stroke-dashoffset:800;
  }
}

@keyframes bob {
  from {
    transform: translate(-50%, 0px);
  }
  to {
    transform: translate(-50%, 10px);
  }
}

@keyframes haptic-on {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #666cec, 0 0 20px #cccef8, 0 0 35px #cccef8, 0 0 40px #cccef8, 0 0 45px #cccef8, 0 0 50px #cccef8;
  }
}

@keyframes haptic-swing {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #666cec, 0 0 20px #cccef8, 0 0 35px #cccef8, 0 0 40px #cccef8, 0 0 45px #cccef8, 0 0 50px #cccef8;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #cccef8, 0 0 35px #cccef8, 0 0 40px #cccef8, 0 0 45px #cccef8, 0 0 50px #cccef8;
  }
}

@keyframes text-extend {
  100% {
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #fff;
    text-shadow: 0 0 #3972e7, -0.25px 0.25px #cdd2d5, -0.5px 0.5px #3972e7, -0.75px 0.75px #cdd2d5, -1px 1px #3972e7, -1.25px 1.25px #cdd2d5, -1.5px 1.5px #3972e7, -1.75px 1.75px #cdd2d5, -2px 2px #3972e7, -2.25px 2.25px #cdd2d5, -2.5px 2.5px #3972e7, -2.75px 2.75px #cdd2d5, -3px 3px #3972e7, -3.25px 3.25px #cdd2d5, -3.5px 3.5px #3972e7, -3.75px 3.75px #cdd2d5;
  }
}

@keyframes text-collapse {
  0% {
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #fff;
    text-shadow: 0 0 #3972e7, -0.25px 0.25px #cdd2d5, -0.5px 0.5px #3972e7, -0.75px 0.75px #cdd2d5, -1px 1px #3972e7, -1.25px 1.25px #cdd2d5, -1.5px 1.5px #3972e7, -1.75px 1.75px #cdd2d5, -2px 2px #3972e7, -2.25px 2.25px #cdd2d5, -2.5px 2.5px #3972e7, -2.75px 2.75px #cdd2d5, -3px 3px #3972e7, -3.25px 3.25px #cdd2d5, -3.5px 3.5px #3972e7, -3.75px 3.75px #cdd2d5;
  }
}
