article, footer {
  padding-bottom: 90px;
  clip: rect(0,auto,auto,0);
  &:first-child {
    padding-top: 90px;
    @media (max-width: $mobile-break) {
      padding-top: 60px;
    }
  }
  section {
    width: 700px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 800px) {
      width: 100%;
      padding: 0 20px;
    }
    img {
      width: 100%;
      text-align: center;
    }
    h1 {
      width: 100%;
      text-align: center;
      font-size: 62px;
      line-height: .9;
      margin-top: -10px;
    }
  }

  figure {
    text-align: center;
    margin-bottom: 30px;
    .img {
      width: 94%;
      transform: translate(3px, 11px);
      opacity: 0;
    }
    .path {
      opacity: 0;
      text-align: center;
      fill: transparent;
      stroke-width:.5;
    }
    figcaption {
      text-align: right;
    }
    &.animate {
      .path {
        stroke-dasharray: 400;
        animation-name : dash;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: both;
        animation-delay: -0.8s;
      }
      .img {
        animation-name: opacity;
        animation-duration: .3s;
        animation-iteration-count: 1;
        animation-delay: .8s;
        animation-fill-mode: both;
      }
    }

  }

  &.intro {
    background-color: #ffc71f;

    p, ul, blockquote {
      color: #4345bd;
    }
  }

  &.ascap {
    background-color: #021b2f;

    ul, blockquote, h1, .link {
      color: #ce2c36;
    }
    .path {
      stroke: #ce2c36
    }
    blockquote {
      border-left: 2px solid #ce2c36;
    }
    p {
      color: white;
    }
    nav a {
      -webkit-text-stroke: 1px #4345bd;
    }
  }

  &.routine {
    background-color: #FD596B;
    background-image: linear-gradient(#ffc71f,#ffa000);
    p, ul, blockquote, h1, .link {
      color: #3972e7;
    }
    .path {
      stroke: #3972e7;
    }
    blockquote {
      border-left: 2px solid #3972e7;
    }
    p {
      color: white;
    }
    hr {
      margin: 10px 0;
      border: 0;
      font-size: 20px;
      font-weight: 800;
      color: #3972e7;
      &:after {
        content: '\2733 \2733 \2733';
        font-family: 'circ bold';
      }
    }
  }

  &.vox {
    background-image: linear-gradient(#ffc71f,#ffa000);
    background-image: linear-gradient(#fbe9e7,#ffccbc);
    p, ul, blockquote, h1 {
      color: #3972e7;
      color: #4345bd;
    }
    hr {
      color: #4345bd;
    }
  }
}
