header {
  position: relative;
  clip: rect(0,auto,auto,0);
  .banner {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    &-image {
      background-color: #2b519e;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
      width: 100%;
      position: absolute;
      bottom: 0;
      top: 0;
    }
    &-text {
      position: relative;
      margin: 0 auto;
      height: 100%;
      &-table {
        display: table;
        width: 700px;
        height: 100%;
        margin: 0 auto;
        @media (max-width: 800px) {
          width: 100%;
          padding: 0 20px;
        }
        &-cell {
          display: table-cell;
          vertical-align: middle;
          height: 100%;
          position: relative;
        }
      }
    }
  }
  p {
    overflow: hidden;
    position: absolute;
    top: 80px;
    width: 100%;
    margin-bottom: 10px;
    span {
      display: none;
      color: #ffc71f;
      font-family: 'Roboto';
      font-size: 24px;
      animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) both;
    }
    &.animate {
      span {
        display: block;
      }
    }
  }
  h1, h2 {
    &.animate,
    &.animate:after {
    	animation-delay: 1.8s;
    	animation-iteration-count: 1;
    	animation-duration: 800ms;
    	animation-fill-mode: both;
    	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &.animate {
    	position: relative;
    	display: inline-block;
    	user-select: none;
    	animation-name: reveal-text;

    	&:after {
    		content: "";
    		position: absolute;
    		z-index: 999;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		background-color: #ff7373;
    		transform: scaleX(0);
    		transform-origin: 0 50%;
    		pointer-events: none;
    		animation-name: revealer-text;
    	}

    }
  }
  h1 {
    font-size: 45px;
    font-family: 'circ-bold';
    color: white;
    margin-bottom: 10px;
    line-height: 2;
    text-shadow: 0 1px 0 #e5e6fb, 0 2px 0 #cccef8, 0 3px 0 #b2b5f5, 0 4px 0 #999df2, 0 5px 0 #7f85ef, 0 6px 0 #666cec, 0 3px 0 #4c54e9, 0 1px 0 #333be6, 0 3px 0 #1923e3, 0 5px 0 #000be0;
    display: inline-block;
    @media (max-width: 800px) {
      line-height: 1.4;
    }
    span {
      text-shadow: none;
      -webkit-animation: haptic-on 4.5s forwards 3s;
      -moz-animation: haptic-on 4.5s forwards 3s;
      animation: haptic-on 4.5s forwards 3s;
      color: white;
      padding-left: 4px;
      &.animate {
        -webkit-animation: haptic-swing 1.5s ease-in-out infinite alternate;
        -moz-animation: haptic-swing 1.5s ease-in-out infinite alternate;
        animation: haptic-swing 1.5s ease-in-out infinite alternate;
        color: white;
        padding-left: 4px;
      }
    }
  }
  h2 {
    font-family: 'droid serif';
    font-size: 40px;
    font-weight: 300;
    color: #969093;
    color: #ff7373;
    &.animate {
      animation-delay: 2s;
      &:after {
        background-color: #ffc71f;
      }
    }
    @media (max-width: $mobile-break) {
      font-size: 25px;
    }
  }

  .arrow {
    position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
    left: 50%;

    &-path {
      stroke:#ff7373;
      fill: transparent;
      stroke-width:4;
      stroke-dasharray:300;
      //animation
      animation-name: dash;
      animation-delay: 2s;
    	animation-iteration-count: 1;
    	animation-duration: 1s;
    	animation-fill-mode: both;
    	animation-timing-function: linear;
    }
  }
}

footer {
  padding-top:20px;
  hr {
    margin: 0;
    border: 0;
    margin-top: -10px;
    text-align: center;
    font-size: 62px;
    font-weight: 800;
    &:after {
      content: '\2733 \2733 \2733';
      font-family: 'circ bold';
    }
  }
}
