@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans+Condensed:300|Proza+Libre|Roboto|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'circ-bold';
  src: url('../fonts/Circular-Bold.woff');
}

@font-face {
  font-family: 'cer-black';
  src: url('../fonts/ceremony_black_a.ttf');
}

@font-face {
  font-family: 'universal';
  src: url('../fonts/freeuniversal.ttf');
}

p, h1, h2, h3 { margin: 0; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
}

p {
  font-family: 'droid serif';
  font-size: 2vw;
  line-height: 1.4;
  padding: 5px 0 10px;
  @media (max-width: $tablet-break) {
    font-size: 3vw;
  }
  @media (max-width: $mobile-break) {
    font-size: 4.5vw;
  }
}

h1 {
  font-family: 'circ-bold';
  @media (max-width: $mobile-break) {
    font-size: 36px !important;
  }
}

u {
  font-family: 'cer-black';
  font-size: 36px;
  text-decoration: none;
  line-height: 1;
  padding: 0 4px 0 0;
  text-decoration: none;
}

blockquote {
  font-family: 'universal';
  font-size: 32px;
  border-left: 2px solid #4345F0;
  padding-left: 15px;
  font-weight: 800;
}

ul {
  font-family: 'droid serif';
  font-size: 1.8vw;
  line-height: 1.4;
  @media (max-width: $tablet-break) {
    font-size: 2.8vw;
  }
  @media (max-width: $mobile-break) {
    font-size: 3.5vw;
  }
  li {
    position: relative;
    list-style: none;
    padding-left: 5px;
    padding: 5px 0;
    &:before {
      color: #4345bd;
      content: "\2733";
      position: absolute;
      left: -20px;
    }
  }
}

.link {
  text-align: center;
  font-family: 'circ-bold';
  padding:  5px 7px;
  letter-spacing: 1px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  transition: all .3s ease;
  animation: text-collapse .2s ease-in-out forwards;
  &:hover {
    animation: text-extend .2s ease-in-out forwards;
  }
}

.arrow {
  stroke:#ff7373;
  opacity: 0;
  fill: transparent;
  animation: dash 2s linear both -0.8s, bob 1s linear 2s infinite alternate;
  transition: transform ease;
  stroke-width:4;
  &.animate {
    animation-name : bob;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: -0.8s;
  }
}

.center {
  text-align: center;
}
